@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="justify-content-center">
    <img src="~/404.gif" />
    <h2>I think this was meant to be done on christmas day but no one showed up!</h2>
</div>



