@model IS4439_CA2.Models.ProjectImages
       
<h4>ProjectImages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @{
                if (TempData["Error"] != null)
                {
                    <h2 class="badge-warning">@TempData["Error"]</h2>
                }
            }

            <div class="form-group">
                <label for="ProjectId" class="control-label"></label>
                <input name="ProjectId" id="ProjectId" class="form-control" value=@ViewData["ProjectId"] readonly />
            </div>
            <div class="form-group">
                <label for="formFiles">Upload one or more files using this form:</label>
                <input type="file" name="formFiles" id="formFiles" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


